@inject LanguageService language


@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .logo-module{
        width:50px;
        margin-top:5px;
    }
</style>
<!--app-content open-->
                
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <div>
                <h1 class="page-title">@language.Getkey("Title_Dashboard")</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">@language.Getkey("Title_Home")</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@language.Getkey("Title_Dashboard")</li>
                        </ol>
                    </div>
                    <div class="ms-auto pageheader-btn"> 
                        <a href="javascript:void(0);" class="btn btn-primary btn-icon text-white me-2">
                            <span>
                                    <i class="fe fe-plus"></i>
                                </span> Add Account
                        </a>
                        <a href="javascript:void(0);" class="btn btn-success btn-icon text-white">
                            <span>
                                    <i class="fe fe-log-in"></i>
                                </span> Export
                        </a>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                        
                        

                <!-- CAROUSEL  -->
                           <!-- CAROUSEL  -->
                                <div id="carouselExampleControls" class="carousel slide w-100"  data-bs-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item py-5 active" style="text-align:left;">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h6 class="">Inventario</h6>
                                                                    <h3 id="inv-total" class="mb-2 number-font"></h3>
                                                                    <p class="text-muted mb-0">
                                                                        <span class="text-primary"><i class="fa fa-chevron-circle-up text-primary me-1"></i> 3%</span> mes pasado
                                                                    </p>
                                                                </div>
                                                                <div class="col col-auto">
                                                                    <div class="counter-icon bg-primary-gradient box-shadow-primary brround ms-auto">

                                                                        <img src="~/Kohinor/images/icons/1.Inventario.png" class="logo-module mb-1" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h6 class="">Compras</h6>
                                                                    <h3 id="compras-total" class="mb-2 number-font"></h3>
                                                                    <p class="text-muted mb-0">
                                                                        <span class="text-secondary"><i class="fa fa-chevron-circle-up text-secondary me-1"></i> 6%</span> mes pasado
                                                                    </p>
                                                                </div>
                                                                <div class="col col-auto">
                                                                    <div class="counter-icon bg-danger-gradient box-shadow-danger brround  ms-auto">

                                                                        <img src="~/Kohinor/images/icons/2.Compras.png" class="logo-module mb-1" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h6 class="">Ventas</h6>
                                                                    <h3 id="ven-total" class="mb-2 number-font"></h3>
                                                                    <p class="text-muted mb-0">
                                                                        <span class="text-success"><i class="fa fa-chevron-circle-down text-success me-1"></i> 0.5%</span> mes pasado
                                                                    </p>
                                                                </div>
                                                                <div class="col col-auto">
                                                                    <div class="counter-icon bg-secondary-gradient box-shadow-secondary brround ms-auto">

                                                                        <img src="~/Kohinor/images/icons/3.Ventas.png" class="logo-module mb-2" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="carousel-item py-5" style="text-align:left;">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h6 class="">Contabilidad</h6>
                                                                    <h3 id="kar-total" class="mb-2 number-font"></h3>
                                                                    <p class="text-muted mb-0">
                                                                        <span class="text-danger"><i class="fa fa-chevron-circle-down text-danger me-1"></i> 0.2%</span> mes pasado
                                                                    </p>
                                                                </div>
                                                                <div class="col col-auto">
                                                                    <div class="counter-icon bg-success-gradient box-shadow-success brround  ms-auto">

                                                                        <img src="~/Kohinor/images/icons/4.Contabilidad.png" class="logo-module mb-2" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h6 class="">Importaciones</h6>
                                                                    <h3 id="imp-total" class="mb-2 number-font"></h3>
                                                                    <p class="text-muted mb-0">
                                                                        <span class="text-success"><i class="fa fa-chevron-circle-down text-success me-1"></i> 0.5%</span> mes pasado
                                                                    </p>
                                                                </div>
                                                                <div class="col col-auto">
                                                                    <div class="counter-icon bg-info-gradient box-shadow-primary  brround ms-auto">

                                                                        <img src="~/Kohinor/images/icons/7.Importaciones.png" class="logo-module mb-1" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h6 class="">Nomina</h6>
                                                                    <h3 id="emp-total" class="mb-2 number-font"></h3>
                                                                    <p class="text-muted mb-0">
                                                                        <span class="text-secondary"><i class="fa fa-chevron-circle-up text-secondary me-1"></i> 3%</span> mes pasado
                                                                    </p>
                                                                </div>
                                                                <div class="col col-auto">
                                                                    <div class="counter-icon bg-yellow box-shadow-danger brround  ms-auto">

                                                                        <img src="~/Kohinor/images/icons/6.Nomina.png" class="logo-module mb-1" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="carousel-item py-5" style="text-align:left;">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h6 class="">Activos Fijos</h6>
                                                                    <h3 class="mb-2 number-font">34,516</h3>
                                                                    <p class="text-muted mb-0">
                                                                        <span class="text-primary"><i class="fa fa-chevron-circle-up text-primary me-1"></i> 3%</span> last month
                                                                    </p>
                                                                </div>
                                                                <div class="col col-auto">
                                                                    <div class="counter-icon bg-indigo box-shadow-primary brround ms-auto">

                                                                        <img src="~/Kohinor/images/icons/5.ActivosFijos.png" class="logo-module mb-1" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h6 class="">Produccion</h6>
                                                                    <h3 class="mb-2 number-font">$34,789</h3>
                                                                    <p class="text-muted mb-0">
                                                                        <span class="text-danger"><i class="fa fa-chevron-circle-down text-danger me-1"></i> 0.2%</span> last month
                                                                    </p>
                                                                </div>
                                                                <div class="col col-auto">
                                                                    <div class="counter-icon bg-green box-shadow-success brround  ms-auto">

                                                                        <img src="~/Kohinor/images/icons/8.Produccion.png" class="logo-module mb-1" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-12 ">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h6 class="">Documentos</h6>
                                                                    <h3 class="mb-2 number-font">34,789</h3>
                                                                    <p class="text-muted mb-0">
                                                                        <span class="text-danger"><i class="fa fa-chevron-circle-down text-danger me-1"></i> 0.2%</span> last month
                                                                    </p>
                                                                </div>
                                                                <div class="col col-auto">
                                                                    <div class="counter-icon bg-warning-gradient box-shadow-secondary brround  ms-auto">

                                                                        <img src="~/Kohinor/images/icons/9.Documentos.png" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>







                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                              
                <!-- CAROUSEL END -->

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Total Transactions</h3>
                                    </div>
                                    <div class="card-body pb-0">
                                        <div id="chartAreaDash" class="chart-donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-4" style="display:none">
                                <div class="card overflow-hidden">
                                    <div class="card-header">
                                        <div>
                                            <h3 class="card-title">Timeline</h3>
                                        </div>
                                    </div>
                                    <div class="card-body pb-0 pt-4">
                                        <div class="activity1">
                                            <div class="activity-blog">
                                                <div class="activity-img brround bg-primary-transparent text-primary">
                                                    <i class="fa fa-user-plus fs-20"></i>
                                                </div>
                                                <div class="activity-details d-flex">
                                                    <div><b><span class="text-dark"> Mr John </span> </b> Started following you <span class="d-flex text-muted fs-11">01 June 2020</span></div>
                                                    <div class="ms-auto fs-13 text-dark fw-semibold"><span class="badge bg-primary text-white">1m</span></div>
                                                </div>
                                            </div>
                                            <div class="activity-blog">
                                                <div class="activity-img brround bg-secondary-transparent text-secondary">
                                                    <i class="fa fa-comment fs-20"></i>
                                                </div>
                                                <div class="activity-details d-flex">
                                                    <div><b><span class="text-dark"> Lily </span> </b> 1 Commented applied <span class="d-flex text-muted fs-11">01 July 2020</span> </div>
                                                    <div class="ms-auto fs-13 text-dark fw-semibold"><span class="badge bg-danger text-white">3m</span></div>
                                                </div>
                                            </div>
                                            <div class="activity-blog">
                                                <div class="activity-img brround bg-success-transparent text-success">
                                                    <i class="fa fa-thumbs-up fs-20"></i>
                                                </div>
                                                <div class="activity-details d-flex">
                                                    <div><b><span class="text-dark"> Kevin </span> </b> liked your site <span class="d-flex text-muted fs-11">05 July 2020</span></div>
                                                    <div class="ms-auto fs-13 text-dark fw-semibold"><span class="badge bg-warning text-white">5m</span></div>
                                                </div>
                                            </div>
                                            <div class="activity-blog">
                                                <div class="activity-img brround bg-info-transparent text-info">
                                                    <i class="fa fa-envelope fs-20"></i>
                                                </div>
                                                <div class="activity-details d-flex">
                                                    <div><b><span class="text-dark"> Andrena </span> </b> posted a new article <span class="d-flex text-muted fs-11">09 October 2020</span></div>
                                                    <div class="ms-auto fs-13 text-dark fw-semibold"><span class="badge bg-info text-white">5m</span></div>
                                                </div>
                                            </div>
                                            <div class="activity-blog">
                                                <div class="activity-img brround bg-danger-transparent text-danger">
                                                    <i class="fa fa-shopping-bag fs-20"></i>
                                                </div>
                                                <div class="activity-details d-flex">
                                                    <div><b><span class="text-dark"> Sonia </span> </b> Delivery in progress <span class="d-flex text-muted fs-11">12 October 2020</span></div>
                                                    <div class="ms-auto fs-13 text-dark fw-semibold"><span class="badge bg-warning text-white">5m</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-4" style="display:none">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title fw-semibold ">Daily Activity</h4>
                                    </div>
                                    <div class="card-body pb-0">
                                        <ul class="task-list">
                                            <li>
                                                <i class="task-icon bg-primary"></i>
                                                <h6>Task Finished<span class="text-muted fs-11 mx-2">29 Oct 2020</span></h6>
                                                <p class="text-muted fs-12">Adam Berry finished task on<a href="javascript:void(0);" class="fw-semibold"> Project Management</a></p>
                                            </li>
                                            <li>
                                                <i class="task-icon bg-secondary"></i>
                                                <h6>New Comment<span class="text-muted fs-11 mx-2">25 Oct 2020</span></h6>
                                                <p class="text-muted fs-12">Victoria commented on Project <a href="javascript:void(0);" class="fw-semibold"> AngularJS Template</a></p>
                                            </li>
                                            <li>
                                                <i class="task-icon bg-primary"></i>
                                                <h6>New Comment<span class="text-muted fs-11 mx-2">25 Oct 2020</span></h6>
                                                <p class="text-muted fs-12">Victoria commented on Project <a href="javascript:void(0);" class="fw-semibold"> AngularJS Template</a></p>
                                            </li>
                                            <li>
                                                <i class="task-icon bg-secondary"></i>
                                                <h6>Task Overdue<span class="text-muted fs-11 mx-2">14 Oct 2020</span></h6>
                                                <p class="text-muted mb-0 fs-12">Petey Cruiser finished task <a href="javascript:void(0);" class="fw-semibold"> Integrated management</a></p>
                                            </li>
                                            <li>
                                                <i class="task-icon bg-primary"></i>
                                                <h6>Task Overdue<span class="text-muted fs-11 mx-2">29 Oct 2020</span></h6>
                                                <p class="text-muted mb-0 fs-12">Petey Cruiser finished task <a href="javascript:void(0);" class="fw-semibold"> Integrated management</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- COL END -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-4" style="display:none">
                                <div class="card custom-card ">
                                    <div class="card-header">
                                        <h3 class="card-title">Recent Orders</h3>
                                    </div>
                                    <div class="card-body pt-0 ps-0 pe-0">
                                        <div id="recentorders" class="apex-charts ht-150"></div>
                                        <div class="row sales-product-infomation pb-0 mb-0 mx-auto wd-100p mt-6">
                                            <div class="col-md-6 col justify-content-center text-center">
                                                <p class="mb-0 d-flex justify-content-center"><span class="legend bg-primary"></span>Delivered</p>
                                                <h3 class="mb-1 fw-bold">5238</h3>
                                                <div class="d-flex justify-content-center ">
                                                    <p class="text-muted mb-0">Last 6 months</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col text-center float-end">
                                                <p class="mb-0 d-flex justify-content-center "><span class="legend bg-background2"></span>Cancelled</p>
                                                <h3 class="mb-1 fw-bold">3467</h3>
                                                <div class="d-flex justify-content-center ">
                                                    <p class="text-muted mb-0">Last 6 months</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL END -->
                        </div>
                               
                            
                <!-- ROW-2 -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card ">
                            <div class="card-header">
                                <h3 class="card-title mb-0">Usuarios</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                            <table id="user_table" class="table table-bordered text-nowrap mb-0" style="width: 100%">
                                        <thead class="border-top">
                                            <tr>
                                                <th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Code")</th>
                                                <th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Name")</th>
                                                <th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Storage")</th>
                                                <th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_LastEntry")</th>
                                            </tr>
                                        </thead>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COL END -->
                </div>
                <!-- ROW-2 END -->
            </div>
            <!-- CONTAINER END -->
        </div>
<script>
<!-- función para renderizar la vista de Reportes -->
    $(document).ready(function () {
        DataDashboard();
        if (document.querySelector('#chartAreaDash') !== null) {
            chartAreaDash();
        }
    });

  
    function DataDashboard() {
          <!-- Llamado ajax para poder obtener datos de los módulos y completar en la trajetas del carrusel -->
        $.ajax({
            url: "/Home/DataDashboard",
            type: "GET",
            dataType: "json",
            success: function (data) {
                //console.log(data);
                TotalCards(data);
            },
            error: function (req, status, error) {
                console.log(status);
            }
        });
         <!-- Llamado ajax para poder obtener datos de los usuarios y llenar en la tabla -->
        $.ajax({
            url: "/Home/UserDashboard",
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                GetUserData(data.seg_i_usuarios);
            },
            error: function (req, status, error) {
                console.log(status);
            }
        });
    }

    function TotalCards(data) {

        $("#inv-total").text(data.acT_I_ACTIVOS[0].cantidadActivos);
        $("#compras-total").text("$62,049");
        $("#ven-total").text("$56,851");
        $("#kar-total").text('$679,640.88');
        $("#emp-total").text('$57,293');
        $("#imp-total").text('224,371');

    }

      <!-- Función para rellenar la tabla con los datos obtenidos de la base -->
    function GetUserData(result){        

        var sumClient = result.length;

        var pv_table = $('#user_table').DataTable({
            destroy: true,
            "searching": false,
            data: result,
            columns: [
                { data: 'codusu' },
                { data: 'nomusu' },
                { data: 'nomalm' },
                { data: 'fecha' }
            ],
            "pageLength": 10,
               
        });
    }
    
  <!-- Función para poder crear gráfico y actualizar los datos con los datos obtenidos de la base -->
    function chartAreaDash() {
        let totalVentas = [];
        let totalCompras = [];
        $.ajax({
            url: "/Home/GraphDashboard",
            type: "GET",
            dataType: "json",
            success: function (data) {

                $.each(data.pvt_i_ventas_mensual, function (index, value) {
                    
                    totalVentas.push(value.totalVenta);
                });
                $.each(data.cpa_i_compras_mensual, function (index, value) {
                    
                    totalCompras.push(value.totalVenta);
                });

            },
            error: function (req, status, error) {
                console.log(status);
            }
        });
        

        var options = {
            chart: {
                height: 300,
                type: "line",
                stacked: false,
                toolbar: {
                    enabled: false
                },
                dropShadow: {
                    enabled: true,
                    opacity: 0.1,
                },
            },
            colors: [myVarVal, "#f99433", 'rgba(119, 119, 142, 0.05)'],
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: "smooth",
                width: [3, 3, 0],
                dashArray: [0, 4],
                lineCap: "round"
            },
            grid: {
                padding: {
                    left: 0,
                    right: 0
                },
                strokeDashArray: 3
            },
            markers: {
                size: 0,
                hover: {
                    size: 0
                }
            },
            series: [
                {
                    name: "Compras",
                    type: 'line',
                    data: totalCompras

                }, {
                    name: "Ventas",
                    type: 'line',
                    data: totalVentas

                },

               ],
            xaxis: {
                type: "month",
                categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                axisBorder: {
                    show: false,
                    color: 'rgba(119, 119, 142, 0.08)',
                },
                labels: {
                    style: {
                        color: '#8492a6',
                        fontSize: '12px',
                    },
                },
            },
            yaxis: {
                labels: {
                    style: {
                        color: '#8492a6',
                        fontSize: '12px',
                    },
                },
                axisBorder: {
                    show: false,
                    color: 'rgba(119, 119, 142, 0.08)',
                },
            },
            fill: {
                gradient: {
                    inverseColors: false,
                    shade: 'light',
                    type: "vertical",
                    opacityFrom: 0.85,
                    opacityTo: 0.55,
                    stops: [0, 100, 100, 100]
                }
            },
            tooltip: {
                show: false
            },
            legend: {
                position: "top",
                show: true
            }
        }

        document.querySelector("#chartAreaDash").innerHTML = "";
        var chart = new ApexCharts(document.querySelector("#chartAreaDash"), options);
        chart.render();
    }
</script>



    <!--app-content end-->
