@inject LanguageService language

<div class="tab-pane fade show" id="tab2" role="tabpanel" aria-labelledby="list-profile-list">
	<div class="card custom-card">
		<div class="card-header">
			<h3 class="card-title">@language.Getkey("Title_Queries")</h3>
		</div>
		<div class="card-body">
			<div>
				<p class="text-muted card-sub-title"></p>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<label class="form-label">@language.Getkey("Label_Invoices")</label>
					<div class="row">
						<div class="col-lg-6">
							<input type="text" class="form-control" name="numini" id="numini" placeholder="@language.Getkey("Holder_From")">
						</div>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="numfin" id="numfin" placeholder="@language.Getkey("Holder_To")">
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<label class="form-label">@language.Getkey("Label_Client")</label>
					<div class="row">
						<div class="col-lg-6">
							<input type="text" class="form-control" name="cliini" id="cliini" placeholder="@language.Getkey("Holder_From")">
						</div>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="clifin" id="clifin" placeholder="@language.Getkey("Holder_To")">
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="Sm-0">
						<label class="form-label">@language.Getkey("Label_Class")</label>
						<div class="row ">
							<div class="col-lg-6">
								<select name="claini" id="claini" class="form-control form-select select2" style="width: 100%">
									<option value="" selected>@language.Getkey("Holder_SelectFrom")</option>
									<option value="Orellana">Orellana</option>
									<option value="Condado">Condado</option>
								</select>
							</div>
							<div class="col-lg-6">
								<select id="clafin" name="clafin" class="form-control form-select select2" style="width: 100%">
									<option value="" selected>@language.Getkey("Holder_SelectTo")</option>
									<option value="Orellana">Orellana</option>
									<option value="Condado">Condado</option>
									<option value="zzzzz">zzzzz</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<label class="form-label">@language.Getkey("Label_Date")</label>
					<div class="row">
						<div class="input-group col-lg-6">
							<div class="input-group-text">
								<i class="fa fa-calendar tx-16 lh-0 op-6"></i>
							</div>
							<input type="date" class="form-control" name="pv_fecini" id="pv_fecini" placeholder="@language.Getkey("Holder_From")">
						</div>

						<div class="input-group col-lg-6">
							<div class="input-group-text">
								<i class="fa fa-calendar tx-16 lh-0 op-6"></i>
							</div>
							<input type="date" class="form-control" name="pv_fecfin" id="pv_fecfin" placeholder="@language.Getkey("Holder_To")">
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<label class="form-label">@language.Getkey("Label_Sellers")</label>
					<div class="row">
						<div class="col-lg-6">
							<input type="text" class="form-control" name="venini" id="venini" placeholder="@language.Getkey("Holder_From")">
						</div>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="venfin" id="venfin" placeholder="@language.Getkey("Holder_To")">
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="Sm-0">
						<label class="form-label">Estado</label>
						<input type="text" class="form-control" name="estado" id="estado" placeholder="@language.Getkey("Holder_From")">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<label class="form-label">@language.Getkey("Label_Currency")</label>
					<select name="codmon" id="codmon" class="form-control form-select select2" style="width: 100%">
						<option value="" selected>@language.Getkey("Holder_SelectFrom")</option>
						<option value="01">DOALRES</option>
						<option value="03">PESETAS ESPAÑOLA</option>
						<option value="04">LIRAS ITALIANAS</option>
						<option value="05">EUROS</option>
					</select>
				</div>
				<div class="col-lg-4">
					<div class="Sm-0">
						<label class="form-label">@language.Getkey("Label_Storage")</label>
						<div class="row ">
							<div class="col-lg-6">
								<select name="almini" id="almini" class="form-control form-select select2" style="width: 100%">
									<option value="" selected>@language.Getkey("Holder_SelectFrom")</option>
									<option value="A1">Centro de Acopio</option>
									<option value="B1">Orellana</option>
									<option value="C1">Jardin</option>
									<option value="C2">Cuenca</option>
									<option value="E1">Quicentro</option>
									<option value="G1">CCI</option>
									<option value="H1">Bosque</option>
									<option value="I1">Cumbaya</option>
								</select>
							</div>
							<div class="col-lg-6">
								<select id="almfin" name="almfin" class="form-control form-select select2" style="width: 100%">
									<option value="" selected>@language.Getkey("Holder_SelectTo")</option>
									<option value="A1">Centro de Acopio</option>
									<option value="B1">Orellana</option>
									<option value="C1">Jardin</option>
									<option value="C2">Cuenca</option>
									<option value="E1">Quicentro</option>
									<option value="G1">CCI</option>
									<option value="H1">Bosque</option>
									<option value="I1">Cumbaya</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<label class="form-label">@language.Getkey("Label_Executive")</label>
					<div class="row">
						<div class="col-lg-6">
							<input type="text" class="form-control" name="ejeini" id="ejeini" placeholder="@language.Getkey("Holder_From")">
						</div>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="ejefin" id="ejefin" placeholder="@language.Getkey("Holder_To")">
						</div>
					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="form-group m-0">
					<div class="row ">
						<div class="col-lg-4">
							<label class="form-label">@language.Getkey("Label_Users")</label>
							<div class="row">
								<div class="col-lg-6">
									<input type="text" class="form-control" name="usuini" id="usuini" placeholder="@language.Getkey("Holder_From")">
								</div>
								<div class="col-lg-6">
									<input type="text" class="form-control" name="usufin" id="usufin" placeholder="@language.Getkey("Holder_To")">
								</div>
							</div>
						</div>
						<div class="col-4">
							<label class="form-label">@language.Getkey("Label_Card")</label>
							<select name="ttardes" id="ttardes" class="form-control form-select select2" style="width: 100%">
								<option value="" selected>@language.Getkey("Holder_SelectFrom")</option>
								<option value="1">1</option>
								<option value="%">%</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="form-footer mt-5 d-flex justify-content-end">
				<a id="btn_apply1" class="btn btn-pill btn-primary">@language.Getkey("Button_Apply")</a>
			</div>

		</div>
	</div>

	<div class="card custom-card" id="pv_card" style="display:none;">
		<div class="card-body">
			<div class="clearfix">
				<div class="float-start">
					<h3 class="card-title mb-0">Informe de Facturas</h3>
				</div>
				<div class="float-end">
					<h3 class="card-title">Date: 12-09-2019</h3>
				</div>
			</div>
			<hr>
			<div class="row">
				<p class="h3">Importadora Exportadora y Comercializadora DBOND CA</p>
				<div class="col-lg-6 ">
					<h6 class="h3">Reporte desde:</h6>
					<address id="addressFrom">

					</address>
				</div>
				<div class="col-lg-6 text-end"> 
					<h6 class="h3">Reporte hasta:</h6>
					<address id="addressTo"> 

					</address> 
				</div>
			</div>
			
		</div>
	</div>
	<div class="card custom-card" id="pv_table_card" style="display:none;">
		<div class="card-body">
			<h3 class="fw-semibold">Tabla de Resultados</h3>
			<div class="table-responsive">
				<table id="pv_Table" class="table table-striped text-nowrap mb-0" style="width:100%">
					<thead class="border-top">
						<tr>
							<th class="bg-transparent border-bottom-0">N.</th>
							<th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Storage")</th>
							<th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Sale")</th>
							<th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Date")</th>
							<th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Client")</th>
							<th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_NetPrice") ($)</th>
							<th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Base") ($)</th>
							<th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Discount") (%)</th>
							<th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Tax"). ($)</th>
							<th class="bg-transparent border-bottom-0">@language.Getkey("Table_Header_Total"). ($)</th>

						</tr>
					</thead>
					<tfoot>
						<tr>
							<th colspan="4" class="bg-transparent border-bottom-0" style="text-align:left">@language.Getkey("Table_Header_Total")</th>
							<th class="bg-transparent border-bottom-0" style="text-align:left"></th>
							<th class="bg-transparent border-bottom-0" style="text-align:left"></th>
							<th class="bg-transparent border-bottom-0" style="text-align:left"></th>
							<th class="bg-transparent border-bottom-0" style="text-align:left"></th>
							<th class="bg-transparent border-bottom-0" style="text-align:left"></th>
							<th class="bg-transparent border-bottom-0" style="text-align:left"></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<script>

	var chart;

	$(document).ready(function () {
		$('#example').DataTable({
			paging: false,
		});

		$('#pv_Table').DataTable({
			scrollY: '450px',
			scrollCollapse: true,
			paging: false,
		});

	});

	function GetDataPuntosVenta() {

		var codemp = "01";
		var link = "@Html.Raw(@Url.Action("PV_FACTURAS_resumido", "Report", new {codemp = "_codemp", numini = "_numini", numfin = "_numfin", cliini = "_cliini", clifin = "_clifin", claini = "_claini", clafin = "_clafin", fecini = "_fecini", fecfin = "_fecfin", venini = "_venini", venfin = "_venfin", estado = "_estado", codmon = "_codmon", almini = "_almini", almfin = "_almfin", ejeini = "_ejeini", ejefin = "_ejefin", usuini = "_usuini", usufin = "_usufin", ttardes = "_ttardes"}))";
		
		link = link.replace("_codemp", codemp);
		link = link.replace("_numini", $("#numini").val());
		link = link.replace("_numfin", $("#numfin").val());
		link = link.replace("_cliini", $("#cliini").val());
		link = link.replace("_clifin", $("#clifin").val());
		link = link.replace("_claini", $("#claini").val());
		link = link.replace("_clafin", $("#clafin").val());
		link = link.replace("_fecini", $("#pv_fecini").val());
		link = link.replace("_fecfin", $("#pv_fecfin").val());
		link = link.replace("_venini", $("#venini").val());
		link = link.replace("_venfin", $("#venfin").val());
		link = link.replace("_estado", $("#estado").val());
		link = link.replace("_codmon", $("#codmon").val());
		link = link.replace("_almini", $("#almini").val());
		link = link.replace("_almfin", $("#almfin").val());
		link = link.replace("_ejeini", $("#ejeini").val());
		link = link.replace("_ejefin", $("#ejefin").val());
		link = link.replace("_usuini", $("#usuini").val());
		link = link.replace("_usufin", $("#usufin").val());
		link = link.replace("_ttardes", $("#ttardes").val());

		console.log(link)

		$.ajax({
			url: link,
			type: "GET",
			dataType: "json",
			//data: { codemp: codemp, codgru: types[0], codalm: types[1], codcla: types[2], codfam: types[3], codart: types[4], desart: types[5], nomart: types[6] },
			success: function (data) {
				if ($("#pv_card").is(":hidden")) {
					$("#pv_card").toggle("show");
				}
				showInvoices(data);
			},
			error: function (req, status, error) {
				console.log(status);
			}
		});
	}

	$(function () {
		$('#btn_apply1').click(GetDataPuntosVenta);
		
	});

	function showInvoices(result) {
		if ($("#pv_table_card").is(":hidden")) {
			$("#pv_table_card").toggle("show");
		}

		var sumClient = result.length;

		var pv_table = $('#pv_Table').DataTable({
			destroy: true,
			scrollY: '450px',
			scrollCollapse: true,
			paging: false,
			"searching": false,
			data: result,
			columns: [
				{ data: 'numfac' },
				{ data: 'codalm' },
				{ data: 'codven' },
				{ data: 'fecfac' },
				{ data: 'codcli' },
				{ data: 'totnet' },
				{ data: 'totbas' },
				{ data: 'totdes' },
				{ data: 'totiva' },
				{ data: 'totfac' }
			],
			"pageLength": 10,
			footerCallback: function (row, data, start, end, display) {
				var api = this.api();

				// Remove the formatting to get integer data for summation
				var intVal = function (i) {
					return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
				};

				// Total over all pages
				sumNeto = api
					.column(5)
					.data()
					.reduce(function (a, b) {
						return intVal(a) + intVal(b);
					}, 0);

				sumBase = api
					.column(6)
					.data()
					.reduce(function (a, b) {
						return intVal(a) + intVal(b);
					}, 0);

				sumdes = api
					.column(7)
					.data()
					.reduce(function (a, b) {
						return intVal(a) + intVal(b);
					}, 0);

				sumIva = api
					.column(8)
					.data()
					.reduce(function (a, b) {
						return intVal(a) + intVal(b);
					}, 0);
				sumTot = api
					.column(9)
					.data()
					.reduce(function (a, b) {
						return intVal(a) + intVal(b);
					}, 0);

				// Update footer
				$(api.column(4).footer()).html(sumClient);
				$(api.column(5).footer()).html('$' + sumNeto.toFixed(2));
				$(api.column(6).footer()).html('$' + sumBase.toFixed(2));
				$(api.column(7).footer()).html('%' +sumdes.toFixed(2));
				$(api.column(8).footer()).html('$' + sumIva.toFixed(2));
				$(api.column(9).footer()).html('$' + sumTot.toFixed(2));
			},
		});


		$('#addressFrom').html("Almacén: " + $("#almini option:selected").text() + "</br> " +
			"Fecha inicio: " + $("#pv_fecini").val() + "</br> ");


		$('#addressTo').html("Almacén: "+$("#almfin option:selected").text() + "</br>" + 
			"Fecha fin: " + $("#pv_fecfin").val() + "</br> ");

	}

	


</script>