@inject LanguageService language

<div class="tab-pane fade show" id="tab3" role="tabpanel" aria-labelledby="list-home-list">
	<div class="card custom-card">
		<div class="card-header d-flex justify-content-between">
			<h3 class="card-title">@language.Getkey("Title_Queries")</h3>
		</div>
		<div class="card-body">
			<div>
				<p class="text-muted card-sub-title"></p>
			</div>
			<div class="row">
				
				<div class="col-lg-4">
					<label class="form-label">Artículo</label>
					<div class="row">
						<div class="col-lg-6">
							<input type="text" class="form-control" name="codini" id="codini" placeholder="Ingrese codigo @language.Getkey("Holder_From")">
						</div>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="codfin" id="codfin" placeholder="Ingrese codigo @language.Getkey("Holder_To")">
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="Sm-0">
						<label class="form-label">@language.Getkey("Label_Class")</label>
						<div class="row ">
							<div class="col-lg-6">
								<select name="claini" id="claini" class="form-control form-select select2" style="width: 100%">
									<option value="" selected>@language.Getkey("Holder_SelectFrom")</option>
									<option value="Orellana">Orellana</option>
									<option value="Condado">Condado</option>
								</select>
							</div>
							<div class="col-lg-6">
								<select id="clafin" name="clafin" class="form-control form-select select2" style="width: 100%">
									<option value="" selected>@language.Getkey("Holder_SelectTo")</option>
									<option value="Orellana">Orellana</option>
									<option value="Condado">Condado</option>
									<option value="zzzzz">zzzzz</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<label class="form-label">@language.Getkey("Label_Date")</label>
					<div class="input-group">
						<div class="input-group-text">
							<i class="fa fa-calendar tx-16 lh-0 op-6"></i>
						</div>
						<input type="date" class="form-control" name="inv_fecini" id="inv_fecini" placeholder="@language.Getkey("Holder_From")">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="Sm-0">
						<label class="form-label">@language.Getkey("Label_Storage")</label>
						<div class="row ">
							<div class="col-lg-6">
								<select name="almini" id="almini" class="form-control form-select select2" style="width: 100%">
									<option value="" selected>@language.Getkey("Holder_SelectFrom")</option>
									<option value="A1">Centro de Acopio</option>
									<option value="B1">Orellana</option>
									<option value="C1">Jardin</option>
									<option value="C2">Cuenca</option>
									<option value="E1">Quicentro</option>
									<option value="G1">CCI</option>
									<option value="H1">Bosque</option>
									<option value="I1">Cumbaya</option>
								</select>
							</div>
							<div class="col-lg-6">
								<select id="almfin" name="almfin" class="form-control form-select select2" style="width: 100%">
									<option value="" selected>@language.Getkey("Holder_SelectTo")</option>
									<option value="A1">Centro de Acopio</option>
									<option value="B1">Orellana</option>
									<option value="C1">Jardin</option>
									<option value="C2">Cuenca</option>
									<option value="E1">Quicentro</option>
									<option value="G1">CCI</option>
									<option value="H1">Bosque</option>
									<option value="I1">Cumbaya</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="Sm-0">
						<label class="form-label">Estado</label>
						<input type="text" class="form-control" name="estado" id="estado" placeholder="@language.Getkey("Holder_From")">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="Sm-0">
						<label class="form-label">Familia</label>
						<div class="row ">
							<div class="col-lg-6">
								<select name="famini" id="famini" class="form-control form-select select2" style="width: 100%">
									<option value="" selected>@language.Getkey("Holder_SelectFrom")</option>
									<option value="B1">Orellana</option>
									<option value="Condado">Condado</option>
									<option value="      ">      </option>
								</select>
							</div>
							<div class="col-lg-6">
								<select id="famfin" name="famfin" class="form-control form-select select2" style="width: 100%">
									<option value="" selected>@language.Getkey("Holder_SelectTo")</option>
									<option value="B1">Orellana</option>
									<option value="Condado">Condado</option>
									<option value="zzzzzz">zzzzzz</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<label class="form-label">Marca</label>
					<select name="marart" id="marart" class="form-control form-select select2" style="width: 100%">
						<option value="" selected>@language.Getkey("Holder_SelectFrom")</option>
						<option value="2014">2014</option>
						<option value="2013">2013</option>
						<option value="01">Dólares</option>
					</select>
				</div>
			</div>
			<div class="form-footer mt-5 d-flex justify-content-end">
				<a id="btn_apply3" class="btn btn-pill btn-primary">@language.Getkey("Button_Apply")</a>
			</div>

		</div>

	</div>
	<div class="card custom-card" id="inv_card" style="display:none;">
		<div class="card-body">
			<div class="clearfix">
				<div class="float-start">
					<h3 class="card-title mb-0">Informe de Inventarios</h3>
				</div>
				<div class="float-end">
					<h3 class="card-title">Date: 12-09-2019</h3>
				</div>
			</div>
			<hr>
			<div class="row">
				<p class="h3">Importadora Exportadora y Comercializadora DBOND CA</p>
				<h4>Resumen de Existencias</h4>
				<div class="col-lg-6 ">
					<h5 class="fw-bolder">Reporte desde:</h5>
					<address id="InvetarioAddressFrom">
					</address>
				</div>
				<div class="col-lg-6 text-end">
					<h5 class="fw-bolder">Reporte hasta:</h5>
					<address id="InvetarioAddressTo">
					</address>
				</div>
			</div>
			<br />
		</div>
	</div>

	<div id="tables">
		
	</div>


</div>
<script>

	var chart;

	$(document).ready(function () {

	});

	function GetDataInventario() {
		var codemp = "01";
		var fecini = "10/01/2022"
		var link = "@Html.Raw(@Url.Action("INV_I_RESEXI_CLA", "Report", new { codemp = "_codemp", fecini = "_fecini", codini = "_codini", codfin  = "_codfin", claini  = "_claini", clafin  = "_clafin", almini  = "_almini", almfin  = "_almfin", famini  = "_famini", famfin  = "_famfin", estado  = "_estado", marart = "_marart" }))";

		link = link.replace("_codemp", codemp);
		link = link.replace("_fecini", $("#inv_fecini").val());
		link = link.replace("_codini", $("#codini").val());
		link = link.replace("_codfin", $("#codfin").val());
		link = link.replace("_claini", $("#claini").val());
		link = link.replace("_clafin", $("#clafin").val());
		link = link.replace("_almini", $("#almini").val());
		link = link.replace("_almfin", $("#almfin").val());
		link = link.replace("_famini", $("#famini").val());
		link = link.replace("_famfin", $("#famfin").val());
		link = link.replace("_estado", $("#estado").val());
		link = link.replace("_marart", $("#marart").val());


		console.log(link)

		$.ajax({
			url: link,
			type: "GET",
			dataType: "json",
			//data: { codemp: codemp, codgru: types[0], codalm: types[1], codcla: types[2], codfam: types[3], codart: types[4], desart: types[5], nomart: types[6] },
			success: function (data) {
				console.log(data);
				showInventario(data);
			},
			error: function (req, status, error) {
				console.log(status);
			}
		});
	}

	$(function () {
		$('#btn_apply3').click(GetDataInventario);
	});

	function showInventario(result) {

		if($("#inv_card").is(":hidden")){
			$("#inv_card").toggle("show");
		}

		var sumClient = result.length;
		var unique= [];
		var lookup = {};
		for (var item, i = 0; item = result[i++];) {
			var name = item.nomcla;

			if (!(name in lookup)) {
				lookup[name] = 1;
				unique.push(name);
			}
		}
		console.log(unique);
		insertTables(unique);
		var arrayNom = [];

		$.each(unique, function (index, value) {
			arrayNom[index] = result.filter(n => n.nomcla == value);
		});
		console.log(arrayNom);

		$.each(arrayNom, function (index, value) {
			stirng = '#table' + index;
			var table = $(stirng).DataTable({
				destroy: true,
				scrollY: '250px',
				scrollCollapse: true,
				"searching": false,
				paging: false,
				fixedHeader: {
					header: true,
					footer: true
				},
				data: arrayNom[index],
				columns: [
					{ data: 'codart' },
					{ data: 'nomart' },
					{ data: 'cantot' },
					{ data: 'cospro' },
					{ data: 'costot' },
				],
				"pageLength": 10,
				footerCallback: function (row, data, start, end, display) {
					var api = this.api();

					// Remove the formatting to get integer data for summation
					var intVal = function (i) {
						return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
					};

					// Total over all pages
					sumCantot = api
						.column(2)
						.data()
						.reduce(function (a, b) {
							return intVal(a) + intVal(b);
						}, 0);

					sumCostot = api
						.column(4)
						.data()
						.reduce(function (a, b) {
							return intVal(a) + intVal(b);
						}, 0);



					// Update footer
					$(api.column(1).footer()).html("SUBTOTAL ");
					$(api.column(2).footer()).html(sumCantot.toFixed(2) + ' uds.');
					$(api.column(4).footer()).html('$' + sumCostot.toFixed(2));

				},
			});

		});
		

		$('#InvetarioAddressFrom').html("Almacén: " + $("#almini option:selected").text() + "</br> " +
			"Fecha inicio: " + $("#inv_fecini").val() + "</br> ");


		$('#InvetarioAddressTo').html("Almacén: " + $("#almfin option:selected").text() + "</br>" +
			"Fecha fin: null " + "</br> ");

	}

	function insertTables(dataT){

		$('#tables').empty();
		$.each(dataT, function(index, value){
			console.log(index);
			$('#tables').append(
				"<div class='card custom-card'>"+
	
					"<div class='card-body'>"+
					"<h3 class='text-uppercase fw-semibold'>" + value + "</h3>" +
						"<div class='table-responsive'>"+
							"<table id='table" + index + "' class='table table-striped' style='width:100%'>" +
								"<thead class='border-top'>"+
									"<tr>"+
										"<th>@language.Getkey("Table_Header_Code")</th>" +
										"<th> @language.Getkey("Table_Header_Product") </th>" +
										"<th> @language.Getkey("Table_Header_Stock") (uds)</th>" +
										"<th> @language.Getkey("Table_Header_AverageCost") ($)</th>" +
										"<th> @language.Getkey("Table_Header_Cost") ($)</th>" +
									"</tr>"+
								"</thead>"+
								"<tfoot>"+
									"<tr><th colspan='2' style='text-align:left'> Subtotal </th><th style='text-align:left'> </th><th style='text-align:left'> </th><th style='text-align:left'> </th></tr>"+
								"</tfoot>"+
							"</table>"+
						"</div>" +
					"</div>" +
				"</div>" 
			);		
		});


	}

</script>